{% load static %}
<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{% block title %}butterfly fashion.{% endblock %}</title>

  <link rel="icon" type="image/x-icon" href="{% static 'shop/images/logo/logo-favicon.png' %}">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

  <link href="{% static 'shop/css/base.css' %}" rel="stylesheet"/>
  {% block styles %}{% endblock %}
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'shop/js/script.js' %}" defer></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body data-page="{% block page_name %}{% endblock %}">
  
  <header id="header">
    <a href="{% url 'home' %}" class="header-logo">
      <img src="{% static 'shop/images/logo/bf-wordmark.png' %}" alt="Butterfly Fashion logo">
    </a>
    <nav id="navbar">
      <ul>
        <li><a href="{% url 'home' %}">home</a></li>
        <li class="dropdown">
          <a href="#">shop</a>
          <div class="dropdown-content">
            <a href="{% url 'preteens' %}">preteens</a>
            <a href="{% url 'teens' %}">teens</a>
          </div>
        </li>
        <li><a href="{% url 'blog' %}">blog</a></li>
      </ul>
    </nav>
    <div class="header-actions">
      <a href="{% url 'about' %}" class="impact-link">
        <ion-icon name="leaf-outline"></ion-icon>
        <span>our impact</span>
      </a>
      <a href="{% url 'cart' %}" class="cart-link">
        <ion-icon name="bag-handle-outline"></ion-icon>
        <span id="cart-count">0</span>
      </a>
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
  
  <footer class="section-p1">
    <div class="copyright">
      <p>© 2025, butterfly fashion.</p>
    </div>
  </footer>

  {% block scripts %}{% endblock %}
  
</body>
</html>