{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Help | Butterfly Fashion{% endblock %}

{% block styles %}
  <link href="{% static 'shop/css/help.css' %}" rel="stylesheet"/>
{% endblock %}


{% block content %}
<section id="help-line">
  <div class="container-helpline">
    <ion-icon name="call-outline" class="help-line-icon"></ion-icon>
    <h2 id="help-line-text">Helpline: +44 1632 960225<br><span>Receive immediate advice from our licensed experts.</span></h2>
  </div>
</section>

<section id="landing"></section>

<section id="intro">
  <h2>Worries and anxieties, soothed here.</h2>
  <p>If you have <i>any</i> questions, feel free to ask! Our licensed experts will get back to you in no less than 24 hours - guaranteed.</p>
</section>

<div class="container">
  <form id="myForm">
    <div class="row">
      <div class="col1">
        <label for="name"><strong>Name</strong></label>
      </div>
      <div class="col2">
        <input type="text" id="name" name="firstname" placeholder="Your name...">
      </div>
    </div>
    <div class="row">
      <div class="col1">
        <label for="contact"><strong>Email/Phone</strong></label>
      </div>
      <div class="col2">
        <input type="text" id="contact" name="emailphone" placeholder="Your (or a parent's) email or phone...">
      </div>
    </div>
    <div class="row">
      <div class="col1">
        <label for="issue"><strong>What issues are you facing?</strong></label>
      </div>
      <div class="col2">
        <select id="issue" name="issue">
          <option value="relationships">Relationships</option>
          <option value="mental-health">Mental Health</option>
          <option value="body-image">Body Image</option>
          <option value="school">School</option>
          <option value="other">Other</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col1">
        <label for="subject"><strong>Feel free to explain in detail:</strong></label>
      </div>
      <div class="col2">
        <textarea id="subject" name="subject" placeholder="Write something..." style="height:200px"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <input type="submit" value="Send">
    </div>
  </form>
</div>
{% endblock %}