{% extends 'shop/base.html' %}
{% load static %}

{% block title %}New Arrivals | Butterfly Fashion{% endblock %}

{% block styles %}
  <link href="{% static 'shop/css/newarrivals.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

<section id="na"></section>

<section id="fproduct" class="sectionfp">
  <h2>New Arrivals</h2>
  <p>For Preteens (11-14yrs)</p>
  <div class="fprocontainer">
      </div>
</section>

<section id="fproductt" class="secfp">
  <h2>New Arrivals</h2>
  <p>For Teenagers (15-17yrs)</p>
  <div class="fpcontainer">
      </div>
</section>

{% endblock %}