{% extends 'shop/base.html' %}
{% load static %}

{% block title %}new arrivals | butterfly fashion.{% endblock %}

{% block styles %}
  <link href="{% static 'shop/css/newarrivals.css' %}" rel="stylesheet"/>
{% endblock %}

{% block page_name %}newarrivals{% endblock %}
{% block content %}

<section id="na"></section>

<section id="fproduct" class="sectionfp">
  <h2>new arrivals</h2>
  <p>for preteens (11-14yrs)</p>
  <div class="fprocontainer">
      </div>
</section>

<section id="fproductt" class="secfp">
  <h2>new arrivals</h2>
  <p>for teenagers (15-17yrs)</p>
  <div class="fpcontainer">
      </div>
</section>

{% endblock %}