{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Preteens Collection | Butterfly Fashion{% endblock %}

{% block styles %}
  <link href="{% static 'shop/css/preteens.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

<section id="naa"></section>

<section id="preteen-tops" class="sectionfp">
  <div class="fprocontainer">
      </div>
</section>

<section id="na"></section> 

<section id="preteen-bottoms" class="sectionfp">
  <div class="fpcontainer">
      </div>
</section>

{% endblock %}