{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Teens Collection | Butterfly Fashion{% endblock %}

{% block styles %}
  <link href="{% static 'shop/css/teens.css' %}" rel="stylesheet"/>
{% endblock %}


{% block content %}

<section id="na"></section>

<section id="teen-tops" class="sectionfp">
  <div class="fpcontainer">
      </div>
</section>

<section id="naa"></section> 

<section id="teen-bottoms" class="sectionfp">
  <div class="fpcontainer">
      </div>
</section>

{% endblock %}